body {
   color: #ddd;
   background-color: #333548;
}
.stopWatch__wrapper {
   margin-top: 80px;
   text-align: center;
}
.stopWatch__title {
   color: white;
   font-size: 65px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin-bottom: 45px;
   text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}

.stopWatch__time {
   font-size: 70px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin-bottom: 55px;
}

@media (max-width: 1020px) {
   .stopWatch__title {
         font-size: 45px;
   }
   .stopWatch__time {
      font-size: 40px;
   }
}

@media (max-width: 600px) {
   .stopWatch__title {
      font-size: 45px;
   }
   .stopWatch__time {
      font-size: 40px;
   }
}

.hours {
}
.nums {
   color: #D8AB00;
   text-shadow: rgba(255, 204, 0, 0.774) 1px 0 5px;
}
.minutes {
}
.seconds {
}
.miliseconds {
   font-size: 15px;
}
.stopWatch__btns button{
   background-color: #333548;
   color: #D8AB00;
   border: 2px solid #D8AB00;
   font-size: 16px;
   padding: 7px 20px;
   border-radius: 25px;
   margin-inline: 10px;
   padding-bottom: 10px;
}
.stopWatch__btns button:active {
   background-color: #D8AB00;
   color: #333548;
}
.start {
}
.btn {
}
.lapb {
}
.reset {
}
.stopWatch__lap-wripper {
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   letter-spacing: 1px;
   margin-inline: 30%;
   border-radius: 30px;
   padding: 10px;
   margin-top: 50px;
   font-size: 22px;
   color: #AF8C01;
}