body {
   color: #ddd;
   background-color: #222;
}
.stopWatch__wrapper {
   margin-top: 80px;
   text-align: center;
}
.stopWatch__title {
   font-size: 45px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin-bottom: 45px;
}
.progress__bar {
   display: inline-block;
   width: 700px;
      border-radius: 3px;
      border: none;
      background-color: #222;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .2);
   transition: all 0.3s ease 0s;
      margin-bottom: 40px;

}

.progress__bar progress {
   border: none;
   background-color: #ff0000;
   width: 98%;
   border-radius: 9px;
   height: 6px;
   transition: all 0.3s ease 0s;

} 
@media (max-width: 1020px) {
   .progress__bar {
      width: 450px;
   }
}

@media (max-width: 600px) {
   .progress__bar {
      width: 290px;
   }

   .progress__bar progress {
      height: 5px;
   }
}
.stopWatch__time {
   font-size: 40px;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin-bottom: -5px;
}
.hours {
}
.nums {
}
.minutes {
}
.seconds {
}
.miliseconds {
   font-size: 15px;
}
.stopWatch__btns button{
   font-size: 16px;
   padding: 5px 20px;
   border-radius: 5px;
   margin-inline: 10px;
}
.stopWatch__btns button:active {
   opacity: 0.5;
}
.start {
}
.btn {
}
.lapb {
}
.reset {
}
.stopWatch__lap-wripper {
   margin-inline: 30%;
   border-radius: 30px;
   padding: 10px;
   margin-top: 50px;
   font-size: 22px;
}